.menteesbody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: mediamoure;
}
.menteesbody h1 {
  font-size: 96px;
  text-align: center;
  margin-bottom: 40px;
}
.menteesbody p {
  width: 70%;
  font-size: 24px;
  text-align: center;
  margin: 0px auto 40px auto;
}
.menteesform {
  display: flex;
  flex-direction: column;
}
.switchbuttons {
  display: flex;
  flex-direction: row;
}
.menteesformbody {
  padding: 40px;
  background-image: url("/images/mentees/mentees.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-size: 100%;
  color: #ffffff;
}
.mentorsformbody {
  display: none;
  padding: 40px;
  background-image: url("/images/mentees/mentors.png");
  background-repeat: no-repeat;

  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-size: 100%;
  color: #ffffff;
}
.menteesmain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 40px;
}
.menteesformbody h1,
.mentorsformbody h1 {
  font-size: 80px;
  text-align: center;
  margin-bottom: 40px;
}
.menteesformbody p,
.mentorsformbody p {
  font-size: 20px;

  margin: 0px auto 40px auto;
}
.menteesformbodyleft {
  display: flex;
  flex-direction: column;

  align-items: center;
  text-align: left;
  width: 40%;
  height: 100%;
}
.menteesformbodyright {
  margin-top: 200px;
}

.menteesbutton,
.mentorsbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;

  font-size: 20px;
  font-family: mediamoure;
  color: #000000;
}
.menteesbutton {
  border-radius: 0px 30px 0px 0px;
  border: 3px solid #1b204a;
  border-bottom: none;
  background: #1b204a;
  color: #ffffff;
}
.mentorsbutton {
  border-radius: 30px 30px 0px 0px;
  border: 3px solid #1b204a;
  border-bottom: none;
  background-color: #f2f2f2;
}
input {
  color: rgba(255, 255, 255, 0.8);
}
input::placeholder {
  color: rgba(255, 255, 255, 0.8);

  font-family: mediamoure;
}
.submitbtn {
  margin: 10px auto 10px auto;
  display: flex;
  justify-content: center;
  padding: 17px 99px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 19px;
  border: none;
  color: #fff;
  font-family: mediamoure;
  font-size: 20px;
  background-color: #1b204a;
}
.menteesformlogo {
  width: 100%;
  display: flex;
  justify-content: end;
}
.mentorsformbody .submitbtn {
  background: #b92024;
}

@media screen and (max-width: 1000px) {
  .menteesbody h1 {
    font-size: 40px;
  }
  .menteesbody p {
    width: 80%;
    font-size: 18px;
  }
  .menteesmain {
    flex-direction: column;
  }
  .menteesformbodyleft {
    width: 80%;
  }
  .menteesformbodyright {
    margin-top: 10px;
  }
  .menteesformbody,
  .mentorsformbody {
    background-size: 100% 100%;
  }
}
