.header {
  background-image: url("/images/home/headerhome.png");
  background-size: cover;

  background-color: black;
}
.headerbody h1 {
  font-family: mediamoure;
  color: white;
}

input#search {
  color: #fff;
  border-radius: 21.5px;
  border: 1px solid #fff;
  font-size: 16px;
  background-color: transparent;
  background-image: url("/images/assests/search.png");
  background-position: 5px 5px;
  background-repeat: no-repeat;
  width: 100%;
  padding: 6px 20px 6px 40px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-family: abhayalibre;
  font-size: 20px;
}
.splitter {
  margin: 20px auto 20px auto;
  width: 80%;
}

.headerbody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.headerbody h1 {
  width: 60%;
  text-align: center;
  font-size: 64px;
  font-weight: 400;
  margin: 20px auto 20px auto;
}
.headerbody p {
  color: #fff;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: mediamoure;
  margin-bottom: 22px;
}
.headerbtn {
  border-radius: 56px;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.46) 0%,
    rgba(255, 255, 255, 0) 120.49%
  );
  padding: 30px 70px 30px 70px;
  font-size: 24px;
  font-family: abhayalibre;
  filter: blur(0px);
  border: none;
  box-shadow: 7px 10px 7px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}
.headerquote {
  font-family: abhayalibre;
  margin-top: 40px;
  font-size: 20px;
}
.bodytop {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  flex-direction: column;
  font-size: 48px;
  text-align: center;
}
.bodytopsplitter {
  width: 7.5%;
  border: 2px solid #e6222b;
  color: #e6222b;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.bodyquote {
  background-image: url("/images/home/bodyquote.png");
  background-size: cover;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  padding: 100px 0px 100px 0px;
}
.quotebody {
  font-family: abhayalibre;
  width: 40%;
}
.quoteheader {
  font-family: abhayalibre;
  font-size: 40px;
  width: 70%;
  text-align: center;
}
.quotesplitter {
  width: 30%;
  border: 1px solid #e6222b;
  color: #e6222b;
  margin: 20px 0 20px 0;
}
.quoteby {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.quotes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 26px;
  padding: 40px;
}
.bodymission {
  display: flex;
  flex-direction: row;
}
.bodymissiontop,
.bodymissionbottom {
  display: flex;

  flex-direction: column;

  object-fit: contain;
}
.bodymissiontop {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  overflow: hidden;
}
.bodymissionbottom {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.bodymission img {
  height: 250px;
}
.bodymissionmain {
  width: calc(100% - 60px);
  margin: 30px;
  background-color: #f6f6f7;
  display: flex;
  align-items: center;

  height: fit-content;
  text-align: center;
  border-radius: 50px;
}
.bodymissiontext {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.bodymissiontext h2 {
  width: 100%;
  text-align: center;
  font-family: lora;
  font-size: 54px;
}
.bodymissiontext ul {
  list-style-type: none;
}
.bodymissiontext ul li {
  margin-bottom: 10px;
  text-align: left;
  font-family: roboto;
  font-size: 15px;
  margin-left: 20px;
  margin-right: 20px;
}
.bodymissiontextsplitter {
  width: 60%;
  border: 1px solid #e6222b;
  color: #e6222b;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.missionhead {
  font-family: roboto;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.volunteer {
  background-image: url("/images/home/bodybottom.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;

  display: flex;
  color: #fff;
  padding: 40px 0px 40px 0px;
  align-items: center;
}
.volunteer {
  text-align: left;
  font-family: mediamoure;
}
.volunteerleft h1 {
  font-size: 100px;
}
.volunteerside {
  font-size: 28px;
  margin-bottom: 30px;
}
.volunteerbody {
  font-size: 18px;
  font-weight: 400;
}
.volunteerleft {
  width: 40%;
}
.volunteerleft,
.volunteerright {
  display: flex;
  flex-direction: column;

  padding: 40px;
}

.volunteerright .inputhalf {
  color: #fff;
}
.volunteerright .inputfull {
  color: #fff;
}

.volunteerright input::placeholder {
  color: #fff;
  font-family: mediamoure;
}
.volunteerbtn,
.donationbtn {
  margin: 10px auto 10px auto;
  display: flex;
  justify-content: center;
  padding: 17px 99px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 19px;
  border: none;
  color: #fff;
  font-family: mediamoure;
  font-size: 20px;
}
.volunteerbtn {
  background-color: #e6222b;
}
.qrcode {
  text-decoration: underline;
  text-align: center;
  color: rgba(0, 0, 0, 0.33);
}
.logosection {
  padding: 30px;
  display: flex;
  justify-content: right;
}
.donation {
  background-image: url("/images/home/bodydonation.png");
  background-color: lightgray;
  font-family: mediamoure;
  display: flex;
  align-items: center;
}
.donation h1 {
  color: #000;
  font-family: mediamoure;
  font-size: 110px;
}
.donationbody {
  font-size: 18px;
  font-weight: 400;
}
.donationleft,
.donationright {
  padding: 40px;
}
.radiobtn {
  margin-left: 20px;
  margin-right: 3px;
  margin-top: -3px;
}
input[type="radio"] {
  box-sizing: border-box;
  appearance: none;
  background: white;
  outline: 2px solid #333;
  border: 3px solid white;
  width: 16px;
  height: 16px;
  border-radius: 5px;
  vertical-align: middle;
}
.donationright .inputfull {
  color: #757575;
}
.donationright .inputhalf {
  color: #757575;
}

input[type="radio"]:checked {
  background: #333;
}
.radiolabel {
  font-family: mediamoure;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.33);
}
.donationbtn {
  margin-top: 20px;
  background: #1b204a;
}

@media screen and (max-width: 1000px) {
  .header {
    background-image: url("/images/home/headermobile.png");
    background-position: -230px;
  }
  .headerbody h1 {
    width: 80%;
    font-size: 40px;
  }
  .headerbtn {
    padding: 20px 40px 20px 40px;
    font-size: 20px;
  }

  .headerbody p {
    width: 80%;
  }
  .bodytop {
    font-size: 32px;
  }
  .bodytopsplitter {
    width: 20%;
  }
  .quotebody {
    width: 80%;
  }
  .quotes {
    flex-direction: column;
  }
  .bodymissionmain {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 40px;
    padding-bottom: 40px;
  }

  .bodymission img {
    height: 100px;
  }
  .volunteer {
    flex-direction: column;
  }
  .volunteerleft h1 {
    font-size: 60px;
  }
  .volunteerleft {
    width: 100%;
  }
  .donation {
    flex-direction: column;
  }
  .donation h1 {
    font-size: 60px;
  }
  .donationbtn {
    padding: 20px;
  }
}
@media screen and (min-width: 1400px) {
  .bodymissiontext ul li {
    font-size: 22px;
  }
}
