<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Information</title>

    <link rel="stylesheet" href="../static/css/global.css" />
    <link rel="stylesheet" href="../static/css/information.css" />
    <link
      rel="icon"
      type="image/x-icon"
      href="/../static/images/assests/logo.png"
    />
  </head>
  <body>
    <div class="header">
      <div class="navbar">
        <div class="navleft">
          <img src="../static/images/assests/logo.png" alt="logo" />
          <div class="search-container">
            <input type="text" id="search" />
            <div id="searchResults"></div>
          </div>
        </div>
        <div class="navright">
          <a href="index.html" class="navitems">Home</a>

          <a href="#contact" class="navitems">Contact Us</a>
          <a href="index.html#volunteer" class="navitems">Volunteer</a>
          <img
            src="../static/images/assests/gripblack.png"
            alt="menu"
            id="menu-button"
            onclick="toggleMenu()"
          />
        </div>
      </div>
      <div id="dropdown-menu">
        <div id="close-button">
          <img
            src="../static/images/assests/close.png"
            alt="close"
            onclick="toggleMenu()"
          />
        </div>
        <div class="dropdownbody" id="mobileview">
          <a href="index.html" class="menu-item"><h5>Home</h5></a>
        </div>
        <div class="dropdownbody" id="mobileview">
          <a href="#contact" class="menu-item"><h5>Contact Us</h5></a>
        </div>
        <div class="dropdownbody" id="mobileview">
          <a href="index.html#volunteer" class="menu-item"
            ><h5>Volunteer</h5></a
          >
        </div>
        <div class="dropdownbody">
          <a href="activites.html" class="menu-item"><h5>Activities</h5></a>
          <ul>
            <li>Education</li>
            <li>Health</li>
            <li>Livelihoods</li>
            <li>Research and documentation</li>
          </ul>
        </div>
        <div class="dropdownbody">
          <a href="information.html" class="menu-item"><h5>Information</h5></a>
          <ul>
            <li>Registration</li>
            <li>Trustees Profile</li>
            <li>Advisors Profile</li>
          </ul>
        </div>

        <div class="dropdownbody">
          <a href="mentees.html" class="menu-item"
            ><h5>Mentorship Program</h5></a
          >
        </div>
      </div>
      <hr class="splitter" />
    </div>

    <div class="informationheader">
      <h1>Information</h1>
      <div class="informationside">Registration</div>
      <p>
        The trust is registered under the
        <font color="#E6222b">Indian Trusts Act, 1882</font> with Sub-Registrar
        at Kengeri, Bangalore since January 3rd, 2005.
      </p>
    </div>
    <div class="informationbody">
      <h1>Trustees Profile</h1>
      <p>
        <font color="#E6222b">K Dolly, an XIM Bhubaneswar graduate,</font>
        brings nearly two decades of experience in project and stakeholder
        management within the development sector. Leading projects funded by
        entities like the Government of India, Government of Andhra Pradesh,
        Bill & Melinda Gates Foundation, and DFID (UK), she excels in Strategic
        Planning, Concept Marketing, Programme Management, and Fund Raising.
      </p>
      <p>
        <font color="#E6222b">Ajay Reddy, a dynamic commerce graduate,</font> is
        deeply empathetic to farmers, tribals, and women's issues. From a young
        age, he has actively addressed tribal concerns, providing scholarships
        and mobilizing funds for health emergencies. As a former project
        coordinator at HLFPPT, he focused on skill development and social
        franchising, showcasing his motivational and mobilization skills,
        notably forming a team of 300 tribal youth in Telangana.
      </p>
    </div>
    <img
      src="../static/images/information/trustees.png"
      alt="trustees"
      class="fullwidth"
    />
    <div class="advisor">
      <div class="advisorside">
        <h1>Advisors Profile</h1>
        <p>Strategic Advisors</p>
      </div>
      <div class="advisorbody">
        <p>
          <font color="#E6222b">Professor DVR Seshadri,</font> a Clinical Full
          Professor of Marketing at the Indian School of Business, boasts
          extensive leadership and teaching experience at
          <font color="#E6222b">IIM Bangalore, IIM Ahmedabad, and ISB.</font>
          With a rich background in consulting for renowned Indian and
          international companies like Tata and L&T, he also serves as a
          pro-bono advisor to DHAN Foundation and the Aravind Eye Care System.
        </p>
        <p>
          <font color="#E6222b">Professor Prakash Satyavageeswaran,</font> an
          Assistant Professor of Marketing at
          <font color="#E6222b">IIM Udaipur,</font> brings diverse experience
          from non-profits to corporates, including Unilever. His research
          focuses on rural markets, low-income producers, and marketing
          interventions for behavior change. Additionally, he advises
          non-profits like
          <font color="#E6222b"
            >Aurolab, Karma Healthcare, and Deshpande Foundation while serving
            on</font
          >
          the board of IIMU Incubation Centre.
        </p>
      </div>
    </div>
    <div class="training">
      <h1>Training and Communication</h1>
      <p>
        <font color="#E6222b">Dr. V Sharada</font> is a communication expert and
        a veteran of the All India Radio. She has designed, implemented and
        evaluated the communications component of healthcare projects as well as
        done a secondment stint at the Commissionerate of Family Welfare,
        Government of (erstwhile Andhra Pradesh). Dr. Sharada holds two PhDs and
        is an acknowledged expert in the use of media for healthcare.
      </p>
      <p>
        <font color="#E6222b">Elizabeth Kuruvilla</font> is an experienced
        professional proficient in areas of Graphic Design, Fashion and product
        management. She has a pro-active and hands-on approach with proven
        interpersonal skills along with problem solving capabilities. She is
        detail oriented with a global outlook towards quality and performance
        combined with the ability to translate market trends into innovative
        products. Elizabeth is a graduate of the National Institute of Fashion
        Technology Delhi.
      </p>
    </div>

    <div class="footer" id="contact">
      <div class="footerleft">
        <div class="footerlefthead">
          <img src="../static/images/assests/logofooter.png" alt="logo" />
          <h1>AD LIFE</h1>
        </div>
        <div class="footerleftside"><p>ADDING VALUE TO LIFE</p></div>
        <div class="footerleftbody">
          <p>
            Our trust is registered under the Indian Trusts Act, 1882 with
            Sub-Registrar at Kengeri, Bangalore since January 3rd, 2005.
          </p>
        </div>
      </div>
      <div class="footerright">
        <div class="footerrightbody">
          <div class="footerrightheader">WHO WE ARE</div>
          <hr class="footerrightsplitter" />
          <ul>
            <a href="index.html"><li>> Homepage</li></a>
            <a href="activites.html"><li>> Activities</li></a>
            <a href="information.html"><li>> Information</li></a>
            <a href="mentees.html"><li>> Contribute Now</li></a>
            <a href="#contact"><li>> Contact</li></a>
          </ul>
        </div>
        <div class="footerrightbody">
          <div class="footerrightheader">WHERE WE WORK</div>
          <hr class="footerrightsplitter" />
          <ul>
            <li>
              <img src="../static/images/assests/map.png" alt="map" />B-803,
              10-3-163/1 Amri Central Court Apartments Old Lance Lines ,
              Secunderabad - 500025
            </li>
            <li>
              <img
                src="../static/images/assests/phone.png"
                alt="phone"
              />+91-9505051521
            </li>

            <li>
              <img
                src="../static/images/assests/mail.png"
                alt="mail"
              />adlife.trust@addlifegroup.com
            </li>
          </ul>
        </div>
        <div class="footerrightbody">
          <div class="footerrightheader">FOLLOW US</div>
          <hr class="footerrightsplitter" />
          <p>
            For more Regular updates and event announcements. Make sure to
            follow us:
          </p>
          <div class="socials">
            <img src="../static/images/assests/fb.png" alt="facebook" />
            <img src="../static/images/assests/insta.png" alt="instagram" />
            <img src="../static/images/assests/twitter.png" alt="twitter" />
            <img src="../static/images/assests/yt.png" alt="youtube" />
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">Copyright 2023 © AD Life Trust.</div>
    <script src="../static/js/script.js"></script>
  </body>
</html>
